@model List<NewProject.Models.OBJETOS>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/Index.js"></script>

<table>
       <tr>
           <th>ID</th>
           <th>Nombre</th>
           <th>Color</th>
           <th>Registro</th>
           <th>Precio</th>
           <th>Editar</th>
           <th>Eliminar</th>
       </tr>
    @foreach (var Objects in Model)
    {
        <tr>
            <td id="id">@Objects.ID_OBJETO</td>
            <td id="name">@Objects.NOMBRE</td>
            <td id="color">@Objects.COLOR</td>
            <td id="date" name="begin" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">@Html.DisplayFor(modelItem=>Objects.FECHA_REGISTRO)</td>
            <td id="price">@Objects.PRECIO</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="@Objects.ID_OBJETO" value="@Objects.ID_OBJETO" onclick="Mandar(this.value)">EDIT</button></td>
            <td><button type="button" class="btn btn-danger" id="@Objects.ID_OBJETO" value="@Objects.ID_OBJETO" onclick="Delete(this.value)">Delete</button></td>
        </tr>
    }
    
</table>
<br />
<br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary w-50" onclick="sendform();">
    Agregar Objeto
</button>

@Html.Partial("~/Views/Home/_PartialViewColors.cshtml")
<br />
    <input type="text" id="cadena" value="" />
    <input type="text" id="vocal" value="" />
    <input type="text" id="consonante" value="" />
    <button onclick="Vocals();">Vocales</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <input type="text" id="Nombre" value="" />
                <br />
                <input type="text" id="Color" value="" />
                <br />
                <input type="date" id="FechaRegistro" value="" placeholder="dd-mm-yyyy" min="1997-01-01" max="2030-12-31" />
                <br />
                <input type="number" id="Precio" value="" />
                <input type="number" id="idObjeto" value="" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Editar();">Save changes</button>
                </div>
        </div>
    </div>
    </div>
