@model List<NewProject.Models.OBJETOS>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/Index.js"></script>

<table>
    @foreach (var Objects in Model)
    {
        <tr>
            <td id="id">@Objects.ID_OBJETO</td>
            <td id="name">@Objects.NOMBRE</td>
            <td id="color">@Objects.COLOR</td>
            <td id="datetime">@Objects.FECHA_REGISTRO</td>
            <td id="price">@Objects.PRECIO</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="@Objects.ID_OBJETO" value="@Objects.ID_OBJETO" onclick="Mandar(this.value)">EDIT</button></td>
        </tr>
    }
   
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<hr />
<h4>Agregar Objeto</h4>

<input class="form-control" type="text" id="TextBoxNombre" value="" placeholder="Nombre" />
<input class="form-control" type="text" id="TextBoxColor" value="" placeholder="Color" />
<input class="form-control" type="date" id="TextBoxFechaRegistro" value="" placeholder="Fecha R" />
<input class="form-control" type="number" id="TextBoxPrecio" value="" placeholder="Precio" />

<input class="btn btn-info" type="button" id="ButtonAgregar" onclick="Agregar()" value="Agregar" />
<hr />

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalito">
                <table>
                    <tr>
                        <td id="name1"></td>
                        <td id="color1"></td>
                        <td id="datetime1"></td>
                        <td id="price1"></td>

                    </tr>
                </table>

                <input type="text" id="Nombre" value="" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>